@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #212121;
  --accent: #2DC8C5;
  --lightgrey: #474747;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
