@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #212121;
  --accent: #2DC8C5;
  --lightgrey: #474747;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.embla {
  overflow: hidden;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 20%;
}

.embla__container {
  display: flex;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

@media (max-width: 1500px) {
  .embla {
    --slide-size: 25%;
  }
}


@media (max-width: 800px) {
  .embla {
    --slide-size: 45%;
  }
}

@media (max-width: 600px) {
  .embla {
    --slide-size: 65%;
  }
}