@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
}

@media only screen and (min-width: 1200px) {
  .content {
      padding-left: 20%;
      padding-right: 20%;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spinner 4s linear infinite;
} */

.divider {
  border: 0.6px solid #444444;
}