.divider {
    border: 0.6px solid #444444;
}

.iconButton {
    background-color: rgba(255, 255, 255, 0.1);
    width: 2.7rem;
    height: 2.7rem;
    transition: opacity 0.2s;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconButton:hover {
    opacity: 0.25;
}