.divider {
    border: 0.6px solid #444444;
}

.iconButton {
    width: 2.7rem;
    height: 2.7rem;
    transition: background-color 0.2s;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
