.logoImage {
    width: auto;
    height: 2.7rem;
}

.linkText {
    cursor: pointer;
}

.linkText:hover {
    background-color: #0F1016;
    /* background-color: #000317; */
    border-radius: 12px;
}

.navbar {
    position: fixed;
}