.logoImage {
    width: auto;
    height: 2.7rem;
}

.linkText {
    cursor: pointer;
}

.navbar {
    position: fixed;
}

.mobileNavbar {
    position: fixed;
    display: none;
    z-index: 10;
}

.navbarDivider {
    border: 0.3px solid #333333;
}

@media only screen and (max-width: 900px) {
    .navbar {
        display: none;
    }
    .mobileNavbar {
        display: block;
    }
}